{% extends 'base.html' %}

{% block content %}
<h1>Your Memos</h1>
<h3>Hello
    {% if user.roles.is_admin %}
    <span>admin</span>
     {% else %}
     <span>employee</span>
     {% endif %}
     {{ user }}! </h3>
    
    <div class="add-icon">
        {% if perms.main_app.add_memo %}
        <a href="{% url 'memos_create' %}"><i class='material-icons'>assignment</i></a>
        {% endif %}
    </div>
    
            
{% for memo in memos %}
    <div class="card">
        
        <a href="{% url 'memos_detail' memo.id %}">
            <div class="card-content waves-effect waves-block waves-light">

                <h2><span class="card-title activator">{{ memo.memo_title }}</span></h2>
                
               
                    {% if perms.main_app.change_memo %}
                    <a href="{% url 'memos_update' memo.id %}"><i class="material-icons">edit</i></a>
                    {% endif%}
                    {% if perms.main_app.delete_memo %}
                    <a href="{% url 'memos_delete' memo.id %}"><i class="material-icons">delete</i></a>
                    {% endif %}
               
            </div>
                           
            </div>
        </a>
        
    </div>
    
{% endfor %}

{% endblock %}