{% extends 'base.html' %}

{% block content %}
<h1>Your Memos</h1>
<h3>Hello, {{ user }}! </h3>
    {% if user.role.is_admin%}
    <h5>You are an admin.</h5>
    {% else %}
    <h5>You are an employee.</h5>
    {% endif %}

{% if perms.main_app.add_memo %}
<a href="{% url 'memos_create' %}">Add a Memo</a>
{% endif %}
    
<hr>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
{% for memo in memos %}


<tr>
    <td> 
    
        <a href="{% url 'memos_detail' memo.id %}">{{ memo.title }}</a>
    </td>
    <td>
<div>
    <a href="{% url 'memos_detail' memo.id %}">{{ memo.date }}</a>

</div>
</td>
<td>
    <div>
        {% if perms.main_app.change_memo %}
        <a href="{% url 'memos_update' memo.id %}">Edit</a>
        {% endif %}
        {% if perms.main_app.delete_memo %}
        <a href="{% url 'memos_delete' memo.id %}">Delete</a>
        {% endif %}
    </div>
</td>




</tr>



{% endfor %}
</table>

{% endblock %}