{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift MemOS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="/">&nbsp;&nbsp;Swift MemOS</a>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a href="{% url 'memos_index' %}">Home</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>All Rights Reserved. &copy; 2022 Swift Memos &nbsp;</p>
    </footer>
</body>
</html>